.header{
    width: 100%;
    position: sticky;
    float:top;
    flex-grow: 1;
    top: 0;
}


.title{
    flex-grow: 1;
    vertical-align: center;
    color: inherit;
    text-decoration: inherit;
  }

.login{
    vertical-align: right;
    color: white;
    text-decoration: inherit;
}